.l-lunarPower {
  position: fixed;
  z-index: 1;
  top: 10px;
  right: 10px;
  width: 175px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.l-lunarPower h3 {
  width: 100%;
  margin: 10px 0;
  /* padding: 10px; */
}

.lunarBattery {
  width: 100%;
  margin: 0 auto;
  /* padding: 10px; */
  /* height: 100%; */
}
/* #list:hover   */
/* dit is voor wat scherm brightness voor de battery */
body:not(:hover) {
  opacity: 0.5;
}

.lunarBattery-Shell {
  position: relative;
  width: 50px;
  height: 125px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 5px;
  background-color: #eaeaea;
  box-shadow: 0px 0px 15px 0px #0f0;
}

.lunarBattery-Top {
  z-index: -1;
  position: absolute;
  top: -10px;
  left: 9px;
  width: 25px;
  height: 10px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #bbbbbb;
}

.lunarBattery-Percent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 52%;
  color: white;
  border-radius: 3px;
  background-color: #66b266;
}
