.l-lunarClock {
  z-index: 0;
  position: absolute;
  right: 0;
  bottom: -150vw;
  left: 0;
  width: 200vw;
  height: 200vw;
  margin: 0 auto;
  color: orange;
  border-radius: 100%;
  background-color: none;
}

.clock-moons {
  left: 10px;
}
/* .l-lunarClock{
  pointer-events:none;
} */
.l-lunarClock g {
  transition: transform 0.5s;
}

.l-lunarClock g:hover {
  transition: transform 0.5s;
  /* Someting more cool */
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.l-lunarClockArm {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  border-right: 50px solid transparent;
  border-bottom: 50px solid #7c89e8;
  border-left: 50px solid transparent;
}
.clock-sun {
  position: absolute;
  right: -25vw;
  width: 50vw;
  height: 50vw;
  -moz-animation-duration: 180s;
  -ms-animation-duration: 180s;
  -webkit-animation-duration: 180s;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: spin;
  -ms-animation-name: spin;
  -webkit-animation-name: spin;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  transition: all 0.5s ease-in-out;
}
.clock-sun:hover {
  right: 25vw;
  -moz-animation-duration: 45s;
  -ms-animation-duration: 45s;
  -webkit-animation-duration: 45s;
}
